.wrapper
  %h1 Cards Against Humanity War

  .entries.cf
    %a{href: '#'}
      .entry
        .black-card
          = @entries[0].black_card
          .icon
            Cards Against Humanity
        .white-card
          = @entries[0].white_card
          .icon
            Cards Against Humanity

    .vs
      VS!

    %a{href: '#'}
      .entry
        .black-card
          = @entries[1].black_card
          .icon
            Cards Against Humanity
        .white-card
          = @entries[1].white_card
          .icon
            Cards Against Humanity

  - if !params[:easy_mode]
    %a{href: '/?easy_mode=true', class: 'easy-mode'} Try out easy mode
  - else
    %a{href: '/', class: 'easy-mode'} Turn off easy mode
  %a{href: ''} Reload