<div class="lists">
  <h1>Winningest Entries</h1>

  <!-- print out number of wins, bc text and wc text -->
  <div class="small-entries">
    <% @entries.each do |e| %>
    <div class="cf">
      <h2>Wins: <%= e.wins %></h2>
      <div class="black-card"><%= e.black_card %></div>
      <div class="white-card"><%= e.white_card %></div>
    </div>
    <% end %>

  </div>

<%= render "pagination" %>

</div>
