%h1 About Us
%p WE ARE AWESOME
%body{:id => @body_id}
= image_tag("fridayhug.jpg")
%ul
  %li
    %a{href: 'http://ichabodcole.github.com'} Cole Reed
  %li
    %a{href: 'http://chuckvose.com'} Chuck Vose
  %li
    %a{href: 'http://neilmakn.github.com'} Neilson Maknarakham
  %li
    %a{href: 'http://fayeishere.github.com'} Faye Purdum
  %li
    %a{href: 'http://lavapj.github.com'} Patti Lavallee
  %li
    %a{href: 'http://phil0xf7.github.com'} Phil
  %li
    %a{href: 'http://wobh.github.com'} William Clifford
  %li
    %a{href: 'http://criskelly.github.com'} Cris Kelly