- @body_id = "about"
.cf
  %h1 About Us
  %p This project lovingly made by the students of the Portland Code School. Please forgive us.
  = image_tag("fridayhug.jpg")
  %ul
    %li
      %a{href: 'http://ichabodcole.github.com'} Cole Reed
    %li
      %a{href: 'http://neilmakn.github.com'} Neilson Maknarakham
    %li
      %a{href: 'http://fayeishere.github.com'} Faye Purdum
    %li
      %a{href: 'http://lavapj.github.com'} Patti Lavallee
    %li
      %a{href: 'http://phil0xf7.github.com'} Phil Pham
    %li
      %a{href: 'http://wobh.github.com'} William Clifford
    %li
      %a{href: 'http://criskelly.github.com'} Cris Kelly