- @body_id = "about"
.cf
  %h1 About Us
  %p This project was an in-class teaching project worked on by everyone in session #2 of the Portland Code School. The core idea was proposed by @neilmakn and built on by the whole class. We really thought it was going to be a proper student project but the content was judged too... questionable, to be used as a portfolio project.
  %p But we still wanted to do it, so there you are.
  %p If you are learning Rails, please feel free to use this project as a base.

  = image_tag("fridayhug.jpg")
  %ul
    %li
      %a{href: 'http://ichabodcole.github.com'} Cole Reed
    %li
      %a{href: 'http://neilmakn.github.com'} Neilson Maknarakham
    %li
      %a{href: 'http://fayeishere.github.com'} Faye Purdum
    %li
      %a{href: 'http://lavapj.github.com'} Patti Lavallee
    %li
      %a{href: 'http://phil0xf7.github.com'} Phil Pham
    %li
      %a{href: 'http://wobh.github.com'} William Clifford
    %li
      %a{href: 'http://criskelly.github.com'} Cris Kelly