// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left {
  float: left;
  width: 400px;
}
.right {
  float: left;
  width: 400px;
}
.white-card {
  font-weight: bold;
}