!!!
%html
  %head
    %title Humanitywar
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:id => @body_id}
    %header.cf
      .wrapper
        %a{href: entries_path}
          %h1
            Cards
            %br
            Against
            %br
            Humanity
            %br
            War

        %nav
          %ul
            %li
              %a{href: entries_path} Home
            %li
              %a{href: winning_entries_path} Winningest
            %li
              %a{href: losing_entries_path} Losingest
            %li
              %a{href: newest_entries_path} Newest
            %li
              %a{href: new_entry_path} Submit
            %li
              - if params[:easy_mode] == "true"
                %a{href: '?easy_mode=false', class: 'easy-mode'} Easy mode
                (is on)
              - else
                %a{href: '?easy_mode=true', class: 'easy-mode'} Easy mode
                (is off)
            %li
              %a{href: '/static/about'} About Us

    .wrapper
      = yield
      %footer
        %p
          Cards Against Humanity is a trademark of Cards Against Humanity LLC. <a href="http://cardsagainsthumanity.com/">Click here to buy the real game!</a>
