!!!
%html
  %head
    %title Humanitywar
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:id => @body_id}
    %header.cf
      .wrapper
        %h1
          Cards
          %br
          Against
          %br
          Humanity
          %br
          War

        %nav
          %ul
            %li
              %a{href: root_path} Home
            %li
              %a{href: entries_winning_path} Winningest
            %li
              %a{href: entries_losing_path} Losingest
            %li
              %a{href: entries_newest_path} Newest
            %li
              %a{href: '#'} Submit
            %li
              - if !params[:easy_mode]
                %a{href: '/?easy_mode=true', class: 'easy-mode'} Easy mode
                (off)
              - else
                %a{href: '/', class: 'easy-mode'} Easy mode
                (on)
            %li
              %a{href: '/static/about'} About Us

    .wrapper
      = yield
      %footer
        %p
          Cards Against Humanity is a trademark of Cards Against Humanity LLC
