!!!
%html
  %head
    %title Humanitywar
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.cf
      .wrapper
        %h1
          Cards
          %br
          Against
          %br
          Humanity
          %br
          War

        %nav
          %ul
            %li
              =link_to "Home", root_path
            %li
              %a{href: '#'} Winningest
            %li
              %a{href: '#'} Losingest
            %li
              %a{href: '#'} Newest
            %li
              =link_to "Submit", new_entry_path
            %li
              - if !params[:easy_mode]
                %a{href: '/?easy_mode=true', class: 'easy-mode'} Easy mode
                (off)
              - else
                %a{href: '/', class: 'easy-mode'} Easy mode
                (on)

    .wrapper
      = yield
      %footer
        %p
          Cards Against Humanity is a trademark of Cards Against Humanity LLC
